 /* Although most of the CSS for this sample site comes from bootstrap, this file contains CSS classes that were self-created,
 to cover the full spectrum of how CSS can be implemented into a website */
body 
{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 1920% 1080%;
    animation: gradient 20s ease infinite;
}

@keyframes gradient 
{
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* redefines h1 and h2 headers*/
h1 {
    font-weight: none;
    color: #fff;
    font-size: 70px;
  }
  
  h2 {
    font-weight: bold;
    color: #fff;
    font-size: 24px;
  }